@import "partials/_mediaqueries.scss";
@import "partials/_colors.scss";

//déclaration des différentes vues de pages.
@media screen and (min-width: $mobile) {

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: $tablet - 1px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }
  .col-sm-12 { flex-basis: calc(100% / 12 * 12);}
  .col-sm-11 { flex-basis: calc(100% / 12 * 11);}
  .col-sm-10 { flex-basis: calc(100% / 12 * 10);}
  .col-sm-9 { flex-basis: calc(100% / 12 * 9);}
  .col-sm-8 { flex-basis: calc(100% / 12 * 8);}
  .col-sm-7 { flex-basis: calc(100% / 12 * 7);}
  .col-sm-6 { flex-basis: calc(100% / 12 * 6);}
  .col-sm-5 { flex-basis: calc(100% / 12 * 5);}
  .col-sm-4 { flex-basis: calc(100% / 12 * 4);}
  .col-sm-3 { flex-basis: calc(100% / 12 * 3);}
  .col-sm-2 { flex-basis: calc(100% / 12 * 2);}
  .col-sm-1 { flex-basis: calc(100% / 12 * 1);}
}

@media screen and (min-width: $tablet) {

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: $desktop - 1px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .hidden {
    display: initial;
  }

  .col-md-12 { flex-basis: calc(100% / 12 * 12);}
  .col-md-11 { flex-basis: calc(100% / 12 * 11);}
  .col-md-10 { flex-basis: calc(100% / 12 * 10);}
  .col-md-9 { flex-basis: calc(100% / 12 * 9);}
  .col-md-8 { flex-basis: calc(100% / 12 * 8);}
  .col-md-7 { flex-basis: calc(100% / 12 * 7);}
  .col-md-6 { flex-basis: calc(100% / 12 * 6);}
  .col-md-5 { flex-basis: calc(100% / 12 * 5);}
  .col-md-4 { flex-basis: calc(100% / 12 * 4);}
  .col-md-3 { flex-basis: calc(100% / 12 * 3);}
  .col-md-2 { flex-basis: calc(100% / 12 * 2);}
  .col-md-1 { flex-basis: calc(100% / 12 * 1);}

}

@media screen and (min-width: $desktop) {

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 2000px;
    justify-content: space-between;
  }

  .hidden {
    display: initial;
  }

  .col-lg-12 { flex-basis: calc(100% / 12 * 12);}
  .col-lg-11 { flex-basis: calc(100% / 12 * 11);}
  .col-lg-10 { flex-basis: calc(100% / 12 * 10);}
  .col-lg-9 { flex-basis: calc(100% / 12 * 9);}
  .col-lg-8 { flex-basis: calc(100% / 12 * 8);}
  .col-lg-7 { flex-basis: calc(100% / 12 * 7);}
  .col-lg-6 { flex-basis: calc(100% / 12 * 6);}
  .col-lg-5 { flex-basis: calc(100% / 12 * 5);}
  .col-lg-4 { flex-basis: calc(100% / 12 * 4);}
  .col-lg-3 { flex-basis: calc(100% / 12 * 3);}
  .col-lg-2 { flex-basis: calc(100% / 12 * 2);}
  .col-lg-1 { flex-basis: calc(100% / 12 * 1);}
}

//style général de la page
html {
  font-size: 62.5%;
  box-sizing: border-box;
}


header {
  align-content: end;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: $color3;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}


//style de l'en tête de chaque page
.logo {
  height: 85px;
  width: auto;
}

.searchbar, .searchform {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: center;
  align-items: center;

  input {
    padding: 1rem;
  }

  textarea {
    padding: 2rem;
  }

  label {
    margin: 1rem 0;
  }

  input, textarea {
    border-radius: 0.4rem;
    border: solid lightgrey 1px;
  }

  .button {
    color: white;
    background-color: $color1;
    width: 5rem;
    align-self: center;
    text-align: center;
    padding: 1rem;
  }
}

//style du menu en haut de chaque page
.nav {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 2rem;
  a {
    padding-bottom: 1.5rem;
    text-decoration: none;
    color: $color3;
    border-bottom: white solid 2px;
    flex-basis: calc(100% / 5);
    &:hover {
      border-bottom: $color3 solid 2px;
    }
  }

}

//style du fil d'ariane
.ariane {
  background: $color1;
  text-transform: uppercase;
  padding: 1rem 0rem 1rem 1.7rem;
  margin: 0rem 0rem 3rem -1rem;
  width: 100%;
  p {
    color: white;
    padding-left: 5rem;
    a {
      color: $color3;
      text-decoration: none;
    }
  }
}

//style du menu du catalogue
.catMenu {
  p {
    text-transform: uppercase;
    &:hover {
      background-color: $color1;
    }
  }
  a {
    text-decoration: none;
    color: $color3;
    &:hover {
      background-color: $color1;
    }
  }
  ul {
    list-style-type: none;

    li {
      padding-left: 2rem;
      color: $color3;
    }
  }

}

//style des éléments de bas de la page d'accueil
.opening {
  padding-top : 4rem;
  color: $color2;
  background-image: url("../img/home_page_corner.png");
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: bottom right;
  p {
    font-size: 3rem;
  }
  ul {
    list-style-type: none;
  }
}

.readmore {
    text-decoration: none;
    text-align: right;
    p {
      font-size: 1.5rem;
      color: $color2;
      background-color: white;
      opacity: 0.8;
      margin-right: 2rem;
      padding: 1rem;
      border-radius: 10px;
    }
}

//style des éléments de la page d'un article détaillé
.article {
  text-decoration: none;
  background-color: white;
  transition: transform .3s;
  .art-name {
    color: $color1;
    font-size: 20px;
  }
  .art-desc {
    color: $color2;
  }
  .art-img {
    width: 275px;
    height: 275px;
  }
  &:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
    .price-container {
      transition: all .5s linear 0s;
      transform: translateX(1);
      text-align: right;
      background-color: $color1;
    }
  }
  .price {
    color: white;
  }
}

.art-detail {
  h1 {
    color: black;
    font-size: 4rem;
  }
  h2 {
    color: $color1;
    font-size: 3rem;
  }
  h3 {
    color: white;
    background-color: $color1;
    width: 40rem;
    padding: 5px;
  }
  h4 {
    font-size: 2rem;
    color: black;
  }
  p {
    color: black;
  }
}

//style de la page contact
.map {
  border-left: $color2 solid 1px;
  border-top: $color2 solid 1px;
  align-items: center;
}

.card {
  background-color: $color1;
  margin-top: 5rem;
  h2 {
    background-color: #d6e7f1;
    padding: 2rem;
    margin-top: 0px;
  }
  p {
    line-height: 70%;
    padding-left: 2rem;
  }
  strong {
    padding-left: 1.5rem;
  }
}


.form {
  background-color: $color1;
  margin-top: 5rem;
  h2 {
    background-color: #d6e7f1;
    padding: 2rem;
    margin-top: 0px;
  }
}


.contactelement {
  width: 30rem;
  height: 4rem;
  margin-top: -1rem;
  border: none;
  border-radius: 5px;
}

.buttonform {
  color: $color1;
  background-color: white;
  width: 12rem;
  margin-left: 18rem;
  margin-bottom: 5rem;
  align-self: center;
  text-align: center;
  padding: 1.5rem;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

.commentaire {
  width: 30rem;
  height: 35rem;
  border: none;
  border-radius: 5px;
  color: $color2;
}

//propriété des images de la galerie, pour l'instant ne fonctionne que sur Firefox
.gallery {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

//style du bas de page
footer {
  width: 100%;
  p {
    font-size: 1rem;
    color: $color2;
    text-align: center;
  }
}